[Unit]
Description=Start Eloston GNOME Socket
PartOf=start-eloston-gnome.service

[Socket]
ListenStream=0.0.0.0:8123

[Install]
WantedBy=sockets.target
